<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Testing js</title>
  <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
  <header class="header">
    <h1 class="title">Pruebas JavaScript</h1>
  </header>
  <main>
    <div class="div__counter">
      <h2>Contador de clics</h2>
      <button class="btn__click">Uno más</button>
      <button class="btn__reset">Reset click</button>
      <p class="counter">0</p>
    </div>
    <div class="div__timer">
      <h2>Temporizador</h2>
      <button class="btn__start">Empezar</button>
      <button class="btn__stop">Parar</button>
      <p class="timer"> -- </p>
    </div>
  </main>
  <script src="../assets/js/main.js"></script>
</body>
</html>
